<script type="text/javascript" src="/key-translator.js"></script>
<script type="text/javascript" src="/note-translator.js"></script>
<script type="text/javascript" src="/pitch-changers.js"></script>
<script type="text/javascript" src="/play-sine.js"></script>
<script type="text/javascript" src="/piano-keys.js"></script>

<body style="background:black">
<h1 style="color:green">WELCOME TO UNLOCKOTRON-1999</h1>

<!-- <p id="note-array">note array</p> -->
<p id="vehicle-response" style="color:green"></p>
<section id="picture"></section>
</body>
