<script type="text/javascript" src="/key-translator.js"></script>
<script type="text/javascript" src="/note-translator.js"></script>
<script type="text/javascript" src="/pitch-changers.js"></script>
<script type="text/javascript" src="/play-sine.js"></script>
<script type="text/javascript" src="/piano-keys.js"></script>


<b>Key: Note</b>
<ul>
  <li>A:C</li>
  <li>S:D</li>
  <li>D:E</li>
  <li>F:F</li>
  <li>G:G</li>
  <li>H:A</li>
  <li>J:B</li>
  <li>K:C</li>
</ul>

<p id="note-array">note array</p>
