<script type="text/javascript" src="/key-translator.js"></script>
<script type="text/javascript" src="/note-translator.js"></script>
<script type="text/javascript" src="/pitch-changers.js"></script>
<script type="text/javascript" src="/play-sine.js"></script>
<script type="text/javascript" src="/piano-keys.js"></script>

<body style="background:black">
<h1 style="color:green">PLAY THE KEYS LIKE A PIANO, THEN SOMETIMES YOUTUBE HAPPENS</h1>
</body>
