<script type="text/javascript" src="/falling3rdsApp.js"></script>
FALLING THIRDS
<br>
HAVE PATIENCE
<br>
<span id="webAudioTest">Sadly you're using a browser that doesn't support Web Audio, so this site won't do anything for you.  Try using Firefox or Chrome, or something other than an iPhone. Sorry.  If you are using Firefox or Chrome and aren't on an iPhone and it's still not working, you might have JavaScript turned off, or have an extension that's clashing with this?</span>
<br>
<br>
<button onclick="falling3rdsApp.newMusicalPart()">start/intensify</button>
<br>
<button onclick="falling3rdsApp.resetParts()">clear music/have patience</button>
<br>
<button onclick="falling3rdsApp.volumeUp()">increase volume</button>
<br>
volume: <span id="volume">3</span>
<br>
<button onclick="falling3rdsApp.volumeDown()">decrease volume</button>
