<body>

<div id="pitch"><%= @ruby_pitch %></div>
<!-- <div id="length"><%= @ruby_length %></div> -->


<script type="text/javascript">

var audioContext = new AudioContext()
var pitch = document.getElementById("pitch").innerHTML
// +(document.getElementById("length").innerHTML)

console.log(pitch);
var time = new Date();
var seconds = time.getSeconds();
console.log(seconds);
var milliseconds = time.getMilliseconds()/1000;
console.log(seconds + milliseconds);

var noteLength = 5000;

function playSine() {
  var startTime = audioContext.currentTime;
  //  + (60 - (seconds + milliseconds) );
  var endTime = startTime + 1;
  var envelope = audioContext.createGain();
  envelope.connect(audioContext.destination);
  envelope.gain.value = 0;
  envelope.gain.setTargetAtTime(1, startTime, 0.1);
  envelope.gain.setTargetAtTime(0, endTime, 0.2);

  var oscillator1 = audioContext.createOscillator();
  oscillator1.connect(envelope);
  oscillator1.type = 'sine';
  oscillator1.detune.value = pitch * 100;
  oscillator1.start(startTime);
  oscillator1.stop(endTime + 2);
  console.log(noteLength);
  newNoteLength = noteLength - 1000;
  console.log(newNoteLength);
  noteLength = newNoteLength;
  // var pitch = pitch + 1;
  // document.getElementById("length").innerHTML = +noteLength;
}

console.log(noteLength);

document.onload = setInterval(playSine,noteLength);

</script>

<p id="time">dummy</p>

fiddling with this symphony idea
</body>
