<script type="text/javascript" src="../playSine.js"></script>
<script type="text/javascript" src="../noteTranslator.js"></script>
<script type="text/javascript" src="../keyTranslator.js"></script>
<script type="text/javascript" src="../pitchchangers.js"></script>
<script type="text/javascript" src="../omnichordKeys.js"></script>

<h1>This is an omnichord.</h1>

<p>you need to hold down a chord button for the 'strum bar' to work</p>

<b>buttons:</b>
  <ul>
    <!-- <li>Q: Major</li>
    <li>W: Minor</li> -->
    <!-- <li>E: 7th</li> -->
    <li>`: F Major</li>
    <li>A: C Major</li>
    <li>Z: G Major</li>
    <li>S: D minor</li>
    <li>X: A minor</li>
    <li>D: E minor</li>
    <!-- <li>C: B chord</li>
    <li>F: F# chord</li>
    <li>V: C# chord</li>
    <li>G: G# chord</li>
    <li>B: D# chord</li>
    <li>H: A# chord</li> -->
    <li>U, I, O & P: strum bar, playing the 4 appropriate notes of the inversion. pedal bass comes from the chord </li>
</ul>
