<script type="text/javascript" src="/app/public/keytranslator.js"></script>
<script type="text/javascript" src="/app/public/notetranslator.js"></script>
<script type="text/javascript" src="/app/public/pitchchangers.js"></script>
<script type="text/javascript" src="/app/public/playSine.js"></script>
<script type="text/javascript" src="/app/public/pianoKeys.js"></script>


<b>Key: Note</b>
<ul>
  <li>A:C</li>
  <li>S:D</li>
  <li>D:E</li>
  <li>F:F</li>
  <li>G:G</li>
  <li>H:A</li>
  <li>J:B</li>
  <li>K:C</li>
</ul>
