<script>
  var audioContext = new AudioContext()

  function playSine(delay, pitch, duration) {
    var startTime = audioContext.currentTime + delay
    var endTime = startTime + duration

    var envelope = audioContext.createGain()
    envelope.connect(audioContext.destination)
    envelope.gain.value = 0
    envelope.gain.setTargetAtTime(1, startTime, 0.1)
    envelope.gain.setTargetAtTime(0, endTime, 0.2)

    var oscillator = audioContext.createOscillator()
    oscillator.connect(envelope)
    oscillator.type = 'sine'
    oscillator.detune.value = pitch * 100

    oscillator.start(startTime)
    oscillator.stop(endTime + 2)
  }



  var keys = [];
  document.onkeydown = onkeyup = function(e){
      e = e || event;
      keys[e.keyCode] = e.type == 'keydown';
      if(keys[65]){playSine(0, -9, 0.1)}
      if(keys[87]){playSine(0, -8, 0.1)}
      if(keys[83]){playSine(0, -7, 0.1)}
      if(keys[69]){playSine(0, -6, 0.1)}
      if(keys[68]){playSine(0, -5, 0.1)}
      if(keys[70]){playSine(0, -4, 0.1)}
      if(keys[84]){playSine(0, -3, 0.1)}
      if(keys[71]){playSine(0, -2, 0.1)}
      if(keys[89]){playSine(0, -1, 0.1)}
      if(keys[72]){playSine(0, 0, 0.1)}
      if(keys[85]){playSine(0, 1, 0.1)}
      if(keys[74]){playSine(0, 2, 0.1)}
      if(keys[75]){playSine(0, 3, 0.1)}
  }


</script>

<b>Key: Note</b>
<ul>
  <li>A:C</li>
  <li>S:D</li>
  <li>D:E</li>
  <li>F:F</li>
  <li>G:G</li>
  <li>H:A</li>
  <li>J:B</li>
  <li>K:C</li>
</ul>
