<script type="text/javascript" src="/keytranslator.js"></script>
<script type="text/javascript" src="/notetranslator.js"></script>
<script type="text/javascript" src="/pitchchangers.js"></script>
<script type="text/javascript" src="/playSine.js"></script>

<script type="text/javascript" src="/pianoKeys.js"></script>


<b>Key: Note</b>
<ul>
  <li>A:C</li>
  <li>S:D</li>
  <li>D:E</li>
  <li>F:F</li>
  <li>G:G</li>
  <li>H:A</li>
  <li>J:B</li>
  <li>K:C</li>
</ul>
